.dropdownContainer {
  position: absolute;
  right: 0;
  top: 35px;
  width: 200px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
}

.dropdownContainer.active {
  max-height: 450px;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

/* Mobile Dropdown Style*/

.MobileDropdownContainer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  background-color: #fff;
}

.MobileDropdownContainer.active {
  max-height: 450px;
  opacity: 1;
}
